@model IEnumerable<Jobs.Models.Users>

@{
    ViewData["Title"] = "Users";
}

<h1>Present Users</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-dark" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobs.Title)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>  
                @if (User.Identity.IsAuthenticated)
                {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                    
            </td>
        </tr>
}
    </tbody>
</table>
